/* Estilizando a página */
/* As cores podem ser citadas com seu nome ou valores hex RGB*/
/* é possivel utilizar classes diferentes para em vez de usar as tags body, strong etc - https://www.w3schools.com/cssref/sel_class.php */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F1035;
    color: white;
}

.titulo-destaque{
    color: #7FC7D9;
}