@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

/* Variáveis no CSS (um endereço na sua memória para guardar um valor) */
:root {
    --cor-primaria: #0F1035;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #7FC7D9;
    --cor-hover: #365486;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.header {
    /* Se a propriedade possuir 4 valores, a sequencia de valores fica na seguinte sequencia: superior, direita, inferior e esquerda; Se a propriedade possuir 2 valores, a sequencia de valores ficam da seguinte forma: top and bottom e right and left */
    padding: 2% 0 0 10%;
}

.header__menu {
    display: flex;
    gap: 70px;
}

.header__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.profile-photo {
    border-radius: 500px;
    width: 50%;
}

.intro {
    padding: 4% 10%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 2%;
}

.intro__content {
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.intro__content__title {
    font-family: var(--fonte-primaria);
    font-size: 22px;
}

.title-emphasis {
    color: var(--cor-terciaria);
}

.intro__content__text {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 400;
}

.intro__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.intro__links__subtitle {
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
}

.intro__links__link {
    /* background-color: #7FC7D9; ctrl k c */ 
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px dotted var(--cor-terciaria);
    width: 378px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
}

.intro__links__link:hover {
    background-color: var(--cor-hover);
}

.footer {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 14px;
    font-weight: 400;
}