@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #0F1035;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #7FC7D9;
    --cor-hover: #365486;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.header {
    padding: 2% 0% 0% 10%;
}

.header__menu {
    display: flex;
    gap: 5%;
}

.menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.intro {
    padding: 4% 10%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.intro2 {
    padding: 4% 10%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5rem;
}

.intro__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.content__title {
    font-family: var(--fonte-primaria);
    font-size: 2.2rem;    
}

.title-emphasis {
    color: var(--cor-terciaria);
}

.content__text {
    font-family: var(--fonte-secundaria);
    font-size: 1.6rem;
    font-weight: 400;
}

.intro__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.link__subtitle {
    font-family: var(--fonte-primaria);
    font-size: 1.6rem;
    font-weight: 400;
}

.link__direction {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px dotted var(--cor-terciaria);
    width: 60%;
    border-radius: 8px;
    text-align: center;
    font-size: 1.6rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 2.4rem;
    font-weight: 600;
}

.link__direction:hover {
    background-color: var(--cor-hover);
}

.profile-photo {
    border-radius: 100%;
    width: 40%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: square;
    list-style-position: inside;
}

.container__progress {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.progress {
    width: 10rem;
    height: 1.3rem;
    background-color: var(--cor-terciaria);
    border-radius: 5rem;
}

.progress-bar-vscode {
    width: 60%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-github {
    width: 50%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-javascript {
    width: 60%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-htmlcss {
    width: 50%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-notion {
    width: 70%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-scrum {
    width: 60%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-ia {
    width: 55%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-sn {
    width: 40%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-sap {
    width: 50%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-sienge {
    width: 70%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-excel {
    width: 70%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-visio {
    width: 65%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-msproject {
    width: 60%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.progress-bar-cad2d {
    width: 95%;
    height: 100%;
    background-color: var(--cor-hover);
    border-radius: 5rem;
}

.footer {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
    font-weight: 400;
}

@media (max-width: 1100px) {
    .header {
        padding: 3%;
    }
    .header__menu {
        justify-content: center;
        align-items: center;
    }
    .intro {
        flex-direction: column;
        padding: 5%;
    }
    .intro2 {
        flex-direction: column;
        padding: 5%;
    }
    .intro__content {
        width: auto;
    }
}