@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box; 
    background-color: #0F1035;
    color: white;
}

.header {
    /* Se a propriedade possuir 4 valores, a sequencia de valores fica na seguinte sequencia: superior, direita, inferior e esquerda; Se a propriedade possuir 2 valores, a sequencia de valores ficam da seguinte forma: top and bottom e right and left */
    padding: 2% 0 0 10%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #7FC7D9;
    text-decoration: none;
}

.profile-photo {
    border-radius: 500px;
    width: 50%;
}

.intro {
    padding: 5% 10%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.intro__content {
    width: 570px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro__content__title {
    font-family: "Krona One", sans-serif;
    font-size: 26px;
}

.title-emphasis {
    color: #7FC7D9;
}

.intro__content__text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.intro__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.intro__links__subtitle {
    font-family: "Krona one", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.intro__links__link {
    /* background-color: #7FC7D9; ctrl k c */ 
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px dotted #7FC7D9;
    width: 378px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.intro__links__link:hover {
    background-color: #7FC7D9;
}

.footer {
    padding: 24px;
    color: #0F1035;
    background-color: #7FC7D9;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
}